@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


body {
  max-width: 100vw;
}

.cell {
  width: 50px;
  aspect-ratio: 1/1;
}

.taken {
  background-color: #000;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.boom::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  animation: boom 1s linear;
}

@keyframes boom {
  0% {
    background-color: rgba(255, 0, 0, 0.062);
    transform: scale(1);
  }

  50% {
    background-color: rgba(255, 0, 0, 0.295);
    transform: scale(1.5);
  }

  100% {
    background-color: rgb(255, 0, 0);
    transform: scale(1);
  }
}

.miss::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: rgb(0, 162, 255);
  border-radius: 50%;
  animation: miss 1s linear;
}

@keyframes miss {
  0% {
    background-color: rgba(0, 162, 255, 0.301);
    transform: scale(1);
  }

  50% {
    background-color: rgba(0, 162, 255, 0.514);
    transform: scale(1.2);
  }

  100% {
    background-color: rgb(0, 162, 255);
    transform: scale(1);
  }
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #333333;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 10px;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}