#root {
    max-width: 1480px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    text-transform: uppercase;
}

button {
    border-radius: 0;
    border: 1px solid black;
    background: black;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #ffffff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #373737;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cacaca;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.space-mono-regular {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
}
