.button {
    padding: 5px 20px;
    text-transform: uppercase;
    background: var(--color-bg);
    color: #fff;
    border: none;
    transition: background-color 0.2s;
    &:hover {
        background-color: rgb(var(--color-accent));
    }
}

.--light {
    color: var(--color-bg);
    background: #fff;
}
