@import '/assets/fonts/DMSans/stylesheet.css';
@import '/assets/fonts/Quicksand/stylesheet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 6, 61%, 64%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 6, 61%, 64%;

    --primary: 6, 61%, 64%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 6, 61%, 64%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 6, 61%, 64%;

    --success: 169, 54%, 54%;
    --success-foreground: 210 40% 98%;

    --warning: 45 80% 50%;
    --warning-foreground: 0 0% 20%;

    --destructive: 0, 84%, 69%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --brand-yellow: 32 61% 64%;
    --brand-green: 156 18% 65%;
    --brand-pink: 328 87% 69%;

    --el-color-primary: hsl(var(--primary)) !important;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 6, 61%, 64%;
    --secondary-foreground: 210 40% 98%;

    --success: 169, 54%, 54%;
    --success-foreground: 210 40% 98%;

    --warning: 45 80% 40%;
    --warning-foreground: 0 0% 80%;

    --destructive: 0, 84%, 69%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --el-color-primary: hsl(var(--secondary)) !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    font-family: 'Quicksand', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    font-family: 'Quicksand', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: 'DMSans', sans-serif;
  }

  .brand-text {
    background-color: hsl(var(--primary)) !important;
    background-image: linear-gradient(
      73.6deg,
      #db776b 2.11%,
      #dba76b 28.26%,
      #96b6a9 53.51%,
      #f56cb4 85.72%
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scroll::-webkit-scrollbar-track {
    background-color: #333333;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
    border-radius: 10px;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}

.theme-slate {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 6, 61%, 64%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 6, 61%, 64%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 6, 61%, 64%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

.dark .theme-slate {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;

  --primary: 210 40% 98%;
  --primary-foreground: 6, 61%, 64%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --ring: 212.7 26.8% 83.9;
}
