@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent: 255 111 111;
        --color-bg: #1e1e1e;
        --color-translucent-bg: #1e1e1ebf;
    }
}
